MavenProject/traineeship_db.dtd

<!ELEMENT dataset (
    ROLE*,
    USER*)>

<!ELEMENT ROLE EMPTY>
<!ATTLIST ROLE
    ROLE_ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
>

<!ELEMENT USER EMPTY>
<!ATTLIST USER
    USER_ID CDATA #IMPLIED
    LOGIN CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    EMAIL CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    BIRTH_DAY CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
>

